@model List<TaskManager.Web.Models.Task.TaskViewModel>

<h2>Tasks</h2>
<ul>
    @foreach (var task in Model)
    {
        <li>
            <h2>@task.Title</h2>
            <h3>@task.Content</h3>    
        </li>
    }
</ul>

<p>@Html.ActionLink("Create New Task", "RenderTask", "Tasks")</p>
