
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<h3>Title:</h3>

@using (Html.BeginForm("Create", "Tasks", FormMethod.Post,
                                                              new { @class = "task-template" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        Title: <input type="text" name="title" />
        Content: <input type="text" name="content" />
        <input type="submit" value="Create task" />
    </fieldset>
}
